@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* { margin: 0px; padding: 0px; box-sizing: border-box; }
html, body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #003454;
    color: whitesmoke;
}

a, a:visited { display: block; color: inherit; text-decoration: inherit; }
a:hover { opacity: 0.8; }

li { list-style-type: none; }

header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}
header h1 { margin: 20px; }

nav li { display: inline-block; }
nav a { padding: 20px; }

main { margin: 80px; width: 80%; margin: auto; }


.icon { position: absolute; top: 40px; right: 50px; font-size: 28px; }
.icon:hover { cursor: pointer; }



.overlay { color: #003454; height: 0%; width: 100%; position: fixed; z-index: 1; top: 0; left: 0; background-color: white; overflow-y: hidden; transition: 0.5s; }
.overlay-content { position: relative; top: 25%; width: 100%; text-align: center; }
.overlay-content h3 { margin-top: 40px; }
.overlay a { padding: 20px; font-size: 28px; display: block; transition: 0.3s; }

.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 38px;
}


.socials li { font-size: 28px; display: inline-block; margin: 20px; }
.socials a { padding: 20px; }
.container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  width: 300px;
  padding: 20px;
  margin: 10px;
}
.card h4 { margin: 20px auto; }
.card p { font-size: 12px; }
.card small { color: #003454; float: right; }

.tag {
  background: #003454;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .container { display: block; }
  .card { width: 100%; margin: 20px auto; }
  .icon { font-size: 22px; top: 20px; right: 30px; }
  .overlay .closebtn { top: -10px; right: 10px; }
}
