/* footer.css */

/*
 * Bottom positioned footer without using sticky or fixed;
*/

* { margin:0; padding:0; box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 16px;
    width: 100%;
    text-align: right;
}

/* Footer to be styled locally */