@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
:root {
  --lightBlue: #e7eff4;
  --blue: #003454;
  --darkBlue: #132a37;
  --white: whitesmoke;
  --black: #2a2d39;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--darkBlue);
  animation: opac 0.5s;
}

a, a:visited { display: block; color: inherit; text-decoration: inherit; }
a:hover { opacity: 0.5; }
ul { list-style-type: none; }
li { margin: 10px; }

img { width: 100%; border-radius: 10px; }

button {
  border: 0;
  border-radius: 5px;
  width: 100%;
  margin: 20px auto;
  cursor: pointer;
  padding: 10px 20px;
}

hr { margin: 20px; }

h2 { margin-bottom: 20px; }

header {
  width: 100%;
  padding: 80px;
  background-color: var(--black);
  color: var(--white);
}

main {
  text-align: center;
  margin: 40px;
}

footer {
  width: 100%;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.responsiveNav { overflow: hidden; }

.responsiveNav a { float: left; text-align: center; padding: 20px; }
.responsiveNav a:hover { background-color: #ddd; }

.responsiveNav .icon { display: none; }

@media screen and (max-width: 768px) {
  .responsiveNav a:not(:first-child) {display: none;}
  .responsiveNav a.icon {
    float: right;
    display: block;
  }
  .responsiveNav.responsive {position: relative;}
  .responsiveNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsiveNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@keyframes opac {
  from { opacity:0 } 
  to { opacity:1 }
}