@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
:root {
  --lightBlue: #e7eff4;
  --darkBlue: #132a37;
  --grey: #f2f2f2;
  --white: whitesmoke;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body {
  font-family: "Poppins", sans-serif;
  white-space: normal;
  background-color: var(--darkBlue);
  color: white;
  animation: opac 0.5s;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

table th, table td {
  text-align: left;
  padding: 12px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr.header, table tr:hover {
  background-color: #f1f1f1;
}

hr { margin: 40px; }
ul { list-style-type: none; }
a, a:visited { color: inherit; text-decoration: inherit; }
a:hover { opacity: 0.8; }

form { border: 5px solid var(--white); border-radius: 10px; padding: 40px; }
input, select { margin: auto; display: block; border-radius: 5px; width: 300px; border: 0; padding: 10px; margin-bottom: 20px; }
input[type="submit"] { margin-top: 20px; background-color: var(--lightBlue); }

button { display: block; width: 300px; margin: 20px auto; border: 0; padding: 20px; background: none; color: white; border-radius: 5px; border: 2px solid var(--lightBlue); }
button:hover { color: black; background-color: var(--white); cursor: pointer; }

#searchBar {
  width: 100%;
  font-size: 16px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/* 
  Header
*/
header {
  padding: 60px;
  margin: 60px;
  margin-bottom: 20px;
  background-color: var(--lightBlue);
  border-radius: 5px;
  color: black;
  overflow: auto;
}
header .logo { float: left; }
header .bio { float: right; margin-top: 25px; }
@media screen and (max-width: 768px) {
  header { padding: 30px; width: 100%; border-radius: 0; margin: 60px 0; }
  header .bio { float: left; }
}

/*
  Responsive Nav
  For mobile devices
*/
nav { padding: 20px 60px; margin: 60px; }
.responsiveNav { margin-top: 10px; overflow: hidden; }
.responsiveNav a { float: left; display: block; padding: 10px; border-radius: 5px; margin-right: 20px; text-align: center; text-decoration: none; font-size: 18px; }
.responsiveNav a:hover, .responsiveNav .icon:hover { background-color: var(--darkBlue); color: var(--lightBlue); }
.responsiveNav a.btn { padding: 10px 20px; background-color: var(--lightBlue); color: black; float: right; }
.responsiveNav .icon { display: none; padding: 20px; font-size: 28px; cursor: pointer; }
@media screen and (max-width: 1200px) {
  nav { margin: 0; }
  .responsiveNav a { padding: 20px 20px; }
  .responsiveNav a:not(:first-child) {display: none;}
  .responsiveNav .icon { float: right; display: block; }
  .responsiveNav.responsive {position: relative;}
  .responsiveNav.responsive .icon { display: none; }
  .responsiveNav.responsive a { float: none; display: block; text-align: left; }
}

/*
  Main
  Holds everything for the pages content
*/
main { text-align: center; }
#container { padding: 60px; margin: 20px auto; background-color: var(--white); color: var(--darkBlue); text-align: left; }

/*
  The Modal 
  Background and content
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
.modal-content { color: black; background-color: #fefefe; margin: 40px auto; padding: 20px 40px; width: 60%; }
.modal-content { content: ""; clear: both; display: table; }
.modal-content li { margin: 20px auto; }
.close { padding-left: 10px; float: right; font-size: 28px; }
.close:hover, .close:focus { color: var(--darkBlue); text-decoration: none; cursor: pointer; }

/* 
  Slides
*/
#slides { overflow: hidden; margin: 60px; }
.slide { animation-name: opac; animation-duration: 3s; float: center; width: 60%; margin: 40px auto; padding: 40px; border: 3px solid var(--lightBlue); border-radius: 5px; }
.slide:not-first { display:; }
.slide:hover { animation-name: opac; animation-duration: 3s; background-color: var(--lightBlue); color: var(--darkBlue); }
.slide .wrapper { padding: 20px; }
@media screen and (max-width: 1200px) {
  #slides { overflow: visible; margin: 20px; }
  .slide { width: 100%; height: auto; margin: 40px 0;  }
}

/*
  Footer
*/
footer { width: 100%; position: absolute; text-align: center; padding: 40px; }
footer nav { margin: 0; padding: 0; }
footer .socials li { display: inline-block; margin: 10px; }

/* 
  Animations 
*/
@keyframes opac {
  from { opacity:0 } 
  to { opacity:1 }
}