#page { 
  display: none;
  
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

#loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
#loader .header { text-align: center; }
#loader .header h1 { font-size: 72px; }
#loader .header .logo { width: 100px; }

#loading {
  width: 60px;
  height: 60px;
  margin: 40px;
  padding: 20px;
  border-radius: 50%;
  border: 3px solid var(--navyBlue);
  border-top: 16px solid var(--darkBlue);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.fade { opacity: 1; animation: fade 2s linear; }
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.donut {
  float:left;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-left-color: var(--col-main);
  margin: 2rem 3rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: donut-spin 1s linear infinite;
  border-style:dotted;
}
@keyframes donut-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}