/* tabbed.css */

/*
 * Tabbed content - uses tabbed.js
*/

:root {
  --tab-link-active: #003454;
}

* { margin:0; padding:0; box-sizing: border-box; }

/* Style the tab */
div.tabbed {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  color: #1a1a1a;
}

/* Style the buttons that are used to open the tab content */
div.tabbed .link {
  background-color: inherit;
  color: #000;
  float: left;
  width: 25%;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  transition: 0.5s;
}

/* Change background color of buttons on hover */
div.tabbed .link:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tabbed .link.active {
  background-color: var(--tab-link-active);
}

/* Style the tab content */
div.tabcontent {
  display: none;
  padding: 16px;
  border: 1px solid #ccc;
  border-top: none;
} 

div.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}